extends demolayout
block content
    div.container
        div.col-lg-4
        div.col-lg-4
            iframe(width='438', height='930', src='//invis.io/Y24XVH6DB', frameborder='0', allowfullscreen='')
        div.col-lg-4