div.navbar.navbar-inverse.navbar-fixed-top(role='navigation',style='height:75px')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
		a.navbar-brand.logo(href='/', style='\
		font-family: brandon-grotesque;\
		font-size: 50px;\
		line-height: .9em;\
		text-transform: none;\
		letter-spacing: 0em;\
		font-weight: 400;\
		font-style: normal;\
		color: #FFF;') CHEWS
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
				li
					a(href="#about") About
				li
					a(href="#contact") Contact
